@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Fjalla+One&family=Lobster&family=Oswald:wght@500&display=swap');
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background:url(../IMG/back.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
    height:100%;
    width:100%;
}

.rainbow {
    position: relative;
    margin-top: 10%;
    border: 2px solid black;
    display: inline-block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.rainbow {
    position: relative;
    z-index: 0;
    width: 60vw;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    &::before {
        content: '';
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: #399953;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
        animation: rotate 4s linear infinite;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: white;
        border-radius: 5px;
        animation: opacityChange 3s infinite alternate;
    }
}

@keyframes opacityChange {
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}

#timer {
    font-size: 60px;
    margin: 20px;
}

#startButton,
#stopButton {
    font-family: 'Lobster', cursive;
    border-radius: 5px;
    background-color: black;
    color: snow;
    font-size: 24px;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#startButton:hover {
    background-color: snow;
    color: black;
}

#stopButton:hover {
    background-color: snow;
    color: black;
}
